{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="1250px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    var path;
//     var json;
    tool.onMouseDown = function(event){
      path = new paper.Path();
//       path.strokeColor = '#00000';
//       path.add(event.point);
       
      var obj = {x:event.point.x, y:event.point.y};
      var myJSON = JSON.stringify(obj);
      socket.send(myJSON);
      }
     tool.onMouseDrag = function(event){
      path = new paper.Path();
//       path.strokeColor = '#00000';
//       path.add(event.point);
      
      var obj = {x:event.point.x, y:event.point.y};
      var myJSON = JSON.stringify(obj);
      socket.send(myJSON);
      //path.smooth();
         
    }

    // var socket = new WebSocket(
    //     'wss://<your url here>/ws/draw');
    var socket = new WebSocket('wss://p3-websockets-zding52-zding52366227.codeanyapp.com/ws/draw');
     socket.onmessage = function(receivedMessage) {
//       if(typeOf receivedMessage.data === String){
        //create JSON 
        var json = JSON.parse(receivedMessage.data);
        var posx = json.x;
        var posy = json.y;
       path.strokeColor = '#00000';
        path.add(posx,posy);
        
//         console.log(posx);
//         console.log(posy);

    };

    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
    socket.onerror = function(error) {
    alert(`[error] ${error.message}`);
    };


</script>
</html>
