{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="1250px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    var paths= {};
    paper.setup(canvas);
    var tool = new paper.Tool();
    var id = Math.random()*360; 
    var userColor = new paper.Color.random();
    //paths[id] = new paper.Path;
    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
  //URL <your url>:8000/draw/?size=small
  //<your url>:8000/draw/?size=large.
    var isSmall = false;
    if (url.indexOf("small") > -1) {
      isSmall = true;
    } else if (url.indexOf("large") > -1) {
      isSmall = false;
    } else {
      alert('<your url>:8000/draw/?size=small or <your url>:8000/draw/?size=large');
    }

   tool.onMouseMove  = function(event){

      var obj = {x:event.point.x, y:event.point.y, userid: id, mycolor:userColor};
      var myJSON = JSON.stringify(obj);
      socket.send(myJSON);       
    }  


    // var socket = new WebSocket(
    //     'wss://<your url here>/ws/draw');
    var socket = new WebSocket('wss://p3-websockets-zding52-zding52366227.codeanyapp.com/ws/draw');
     socket.onmessage = function(receivedMessage) {
       
        var json = JSON.parse(receivedMessage.data);
        var posx = json.x;
        var posy = json.y;
        var myid = json.userid;
        var color = json.mycolor;
   if(!(myid in paths)){
     newpath = new paper.Path();
     paths[myid] = newpath;
   }
        if(isSmall){
          if(myid != id){
            paths[myid].strokeColor = 'white';
          }
          else{
              paths[myid].strokeColor = new paper.Color(color[1],color[2],color[3]);
          }
        }else{
       paths[myid].strokeColor = new paper.Color(color[1],color[2],color[3]);}
       
        paths[myid].add(new paper.Point(posx,posy));

    }

//     socket.onclose = function(e) {
//         console.error('Chat socket closed unexpectedly');
//     };
//     socket.onerror = function(error) {
//     alert(`[error] ${error.message}`);
//     };


</script>
</html>
